In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("C:/Users/Gabo0/Desktop/Jupyter Python/Ejercicios Linkedin/base_datos_2008.csv", nrows = 100000)

In [5]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [6]:
df.tail()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [ ]:
# reordenar nuestra base de datos

In [8]:
df = df.sample(frac=1)

In [ ]:
# Aqui podemos ver las columnas que hay en nuestra base

In [9]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [11]:
df.DepTime

66896    1147.0
68652    1224.0
79787    1808.0
72143    2107.0
57048    1502.0
          ...
17448    1223.0
95269     953.0
6832     1206.0
86657    1849.0
55564    1501.0
Name: DepTime, Length: 100000, dtype: float64

Explorar los distintos tipos devariables

In [12]:
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [13]:
df.values

array([[2008, 1, 23, ..., nan, nan, nan],
       [2008, 1, 24, ..., nan, nan, nan],
       [2008, 1, 27, ..., 3.0, 0.0, 93.0],
       ...,
       [2008, 1, 5, ..., 24.0, 0.0, 0.0],
       [2008, 1, 29, ..., nan, nan, nan],
       [2008, 1, 20, ..., nan, nan, nan]], dtype=object)

como guardar la base de datos en otra estructura

In [14]:
df2 = df.head(10)

In [15]:
df2.head(20)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
66896,2008,1,23,3,1147.0,1150,1702.0,1725,WN,1545,...,4.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
68652,2008,1,24,4,1224.0,1215,1533.0,1530,WN,224,...,5.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
79787,2008,1,27,7,1808.0,1635,1931.0,1755,WN,187,...,4.0,9.0,0,NaN,0,0.0,0.0,3.0,0.0,93.0
72143,2008,1,25,5,2107.0,2030,2330.0,2255,WN,1482,...,6.0,8.0,0,NaN,0,0.0,0.0,0.0,0.0,35.0
57048,2008,1,20,7,1502.0,1500,1633.0,1630,WN,295,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
90970,2008,1,31,4,1246.0,1235,1510.0,1500,WN,2610,...,7.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
89269,2008,1,30,3,1914.0,1915,2031.0,2035,WN,3918,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
35553,2008,1,14,1,745.0,745,854.0,855,WN,2,...,3.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
73891,2008,1,25,5,1020.0,1020,1207.0,1200,WN,1365,...,5.0,34.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
14008,2008,1,7,1,1901.0,1850,2021.0,2010,WN,80,...,5.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN