In [20]:
import pandas as pd
df = pd.read_csv("C:/Users/Gabo0/Desktop/Jupyter Python/Ejercicios Linkedin/base_datos_2008.csv")

In [21]:
df["ArrDelay"].head()

0   -14.0
1     2.0
2    14.0
3    -6.0
4    34.0
Name: ArrDelay, dtype: float64

Aqui se pueden seleccionar intervalos para el head

In [22]:
df[0:10]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

Filtrado por menor igual, mayor igual, == o !=

In [23]:
df[df["ArrDelay"]<60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

filtros por texto

In [24]:
df[df["Origin"]=="ATL"].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
103149,2008,1,21,1,1207.0,1210,1346.0,1335,XE,2349,...,11.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
103572,2008,1,12,6,1458.0,1500,1622.0,1620,XE,2145,...,6.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104019,2008,1,20,7,1403.0,1330,1625.0,1608,XE,1284,...,6.0,32.0,0,NaN,0,0.0,0.0,17.0,0.0,0.0
104124,2008,1,26,6,1629.0,1630,1832.0,1902,XE,1241,...,9.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104485,2008,1,4,5,1336.0,1340,1501.0,1500,XE,2112,...,12.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [25]:
df[(df["Origin"]=="ATL") | (df["ArrDelay"]>60)].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,NaN,0,5.0,0.0,0.0,0.0,59.0
37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,422,...,6.0,11.0,0,NaN,0,3.0,0.0,0.0,0.0,69.0
49,2008,1,3,4,2245.0,1730,2354.0,1850,WN,186,...,3.0,7.0,0,NaN,0,282.0,0.0,0.0,0.0,22.0
77,2008,1,3,4,958.0,900,1052.0,950,WN,1574,...,4.0,14.0,0,NaN,0,0.0,0.0,4.0,0.0,58.0

Se puede usar & para que sean ambas condiciones o podriamos usar | para que sea una o la otra

In [26]:
df[df.Origin.isin(["HOU","ATL"])].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3269,2008,1,4,5,1910.0,1910,2025.0,2025,WN,823,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3270,2008,1,4,5,1345.0,1345,1453.0,1500,WN,901,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3271,2008,1,4,5,736.0,735,839.0,850,WN,957,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3272,2008,1,4,5,1603.0,1550,1647.0,1635,WN,231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3273,2008,1,4,5,2105.0,2105,2151.0,2150,WN,570,...,7.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

Se puede filtrar por los datos no encontrados isna("is not available")

In [27]:
df[pd.isna(df["ArrDelay"])].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN

Saber cuantas filas no tienen ninguna valor en la columna arrDelay

In [31]:
len(df[pd.isna(df["ArrDelay"])])

154699