In [7]:
import pandas as pd
df = pd.read_csv("C:/Users/Gabo0/Desktop/Jupyter Python/Ejercicios Linkedin/base_datos_2008.csv", nrows = 1e6)

In [8]:
dfduplicate = df.append(df)

In [9]:
dfduplicate=dfduplicate.sample(frac=1)

Limpiar duplicados

In [10]:
dfclean = dfduplicate.drop_duplicates()

In [11]:
len(dfclean) == len(df)

False

In [12]:
len(dfclean)

999996

In [13]:
dfclean.drop_duplicates(subset = "DayofMonth")

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
917293,2008,2,13,3,1030.0,1032,1148.0,1159,EV,4416,...,7.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999083,2008,2,12,2,1556.0,1555,1813.0,1700,MQ,4647,...,5.0,81.0,0,NaN,0,0.0,0.0,73.0,0.0,0.0
668568,2008,2,21,4,1859.0,1855,2111.0,2105,WN,3592,...,5.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
142229,2008,1,19,6,1430.0,1430,1610.0,1623,YV,2618,...,13.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
885295,2008,2,1,5,940.0,940,1022.0,1030,WN,20,...,2.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
406780,2008,1,23,3,1224.0,1115,1347.0,1225,MQ,4170,...,19.0,21.0,0,NaN,0,3.0,0.0,13.0,0.0,66.0
263247,2008,1,6,7,NaN,1000,NaN,1119,US,2169,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
451998,2008,1,29,2,1859.0,1900,2134.0,2123,NW,1708,...,5.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
259856,2008,1,3,4,1756.0,1803,1826.0,1837,US,308,...,9.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
976175,2008,2,11,1,1105.0,1020,1229.0,1130,MQ,3628,...,10.0,28.0,0,NaN,0,4.0,0.0,14.0,0.0,41.0
190640,2008,1,14,1,1257.0,1307,1348.0,1403,OO,5566,...,7.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
40248,2008,1,15,2,953.0,955,1051.0,1100,WN,29,...,3.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
475143,2008,1,16,3,1155.0,1200,1249.0,1309,9E,5918,...,2.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
581011,2008,1,30,3,1442.0,1445,1545.0,1553,CO,1015,...,8.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
455620,2008,1,9,3,NaN,1500,NaN,1845,9E,2851,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
795472,2008,2,20,3,1413.0,1405,1511.0,1451,OO,5433,...,4.0,12.0,0,NaN,0,20.0,0.0,0.0,0.0,0.0
282970,2008,1,22,2,951.0,950,1152.0,1207,US,1524,...,2.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
23027,2008,1,10,4,1827.0,1810,2013.0,2010,WN,2889,...,4.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
223028,2008,1,7,1,2226.0,2220,654.0,649,UA,180,...,9.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
100758,2008,1,5,6,855.0,900,1012.0,1020,XE,7762,...,3.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
555995,2008,1,18,5,1028.0,1020,1239.0,1230,B6,1125,...,7.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
130298,2008,1,2,3,1539.0,1545,1703.0,1715,YV,7266,...,7.0,23.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
711711,2008,2,4,1,613.0,620,658.0,713,XE,2015,...,5.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
762991,2008,2,26,2,1024.0,1024,1320.0,1258,OH,5673,...,10.0,53.0,0,NaN,0,0.0,0.0,22.0,0.0,0.0
252151,2008,1,27,7,627.0,630,745.0,740,UA,1480,...,5.0,28.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
160587,2008,1,17,4,1203.0,1205,1429.0,1429,OH,5441,...,3.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
295056,2008,1,31,4,952.0,1002,1120.0,1128,US,202,...,8.0,35.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
973815,2008,2,28,4,1705.0,1700,1915.0,1905,MQ,3508,...,13.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
415162,2008,1,8,2,1941.0,1935,2109.0,2105,MQ,4493,...,3.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
833665,2008,2,25,1,NaN,1015,NaN,1148,UA,781,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
226999,2008,1,24,4,1523.0,1524,1613.0,1629,UA,333,...,9.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [15]:
df.dropna()

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

Se puede especificar cuantas columnas queremos que esten llenas como minimo

In [17]:
df.dropna(thresh=len(df.columns)-2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

Para filtrar por columna especifica

In [18]:
df.dropna(subset = ["CancellationCode"])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999913,2008,2,11,1,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
999919,2008,2,17,7,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999961,2008,2,17,7,NaN,1445,NaN,1630,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999971,2008,2,22,5,NaN,1235,NaN,1415,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN